*~
.vscode
**/.merlin
_build
Example
*.csv
*.cma
*.cmi
*.cmo
*.cmx
*.dll
*.log
*.messages
*.out
*.pdf
*.tex
*.txt
review_data/*
tests/*.txt
test/tmp_benchmarks
benchmarks/*.csv
__pycache__
*runtimeconfig.json
